.c-SectionHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: solid 1px var(--color-border);
  height: 40px;
  padding-left: calc(var(--base-spacing) * 2);
  padding-right: calc(var(--base-spacing) * 2);
  background-color: var(--color-surface-2);

  &__label {

  }
}