/* ==========================================================================
   #COLOR-VARIABLES
   ========================================================================== */

$color-primary: #212121;
$color-secondary: #78909C;
$color-tertiary: #5E6366;
$color-highlight: #367BF5;
$color-positive: #2FA84F;
$color-negative: #FF0A45;
$color-warning: #F3AA18;

$color-text-light: $color-primary;
$color-surface-light: #F7F9FA;
$color-border-light: #E8ECEE;