/* ==========================================================================
   #TYPOGRAPHY-VARIABLES
   ========================================================================== */

$font-body: -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
  sans-serif;
$base-font-size-large: 16px;
$base-font-size-medium: 14px;
$letter-spacing: 0.1em;
