///* ========================================================================
//   #PLACEHOLDERS
//   ======================================================================== */

@mixin placeholder-color() {
  ::-webkit-input-placeholder {
    color: var(--color-placeholder);
  }
  :-moz-placeholder {
    color: var(--color-placeholder);
  }
  ::-moz-placeholder {
    color: var(--color-placeholder);
  }
  :-ms-input-placeholder {
    color: var(--color-placeholder);
  }
  ::-ms-input-placeholder {
    color: var(--color-placeholder);
  }
}
