.o-flex-center {
  align-items: center;
}

.o-space-between {
  justify-content: space-between;
}

.o-flex {
  display: flex;
  &--column {
    flex-direction: column;
  }
  &--column-reverse {
    flex-direction: column-reverse;
  }
  &--row-reverse {
    flex-direction: row-reverse;
  }
  &--wrap {
    flex-wrap: wrap;
  }
  &--wrap-reverse {
    flex-wrap: wrap-reverse;
  }
  &--justify-start {
    justify-content: flex-start;
  }
  &--justify-end {
    justify-content: flex-end;
  }
  &--justify-center {
    justify-content: center;
  }
  &--justify-between {
    justify-content: space-between;
  }
  &--justify-around {
    justify-content: space-around;
  }
  &--justify-evenly {
    justify-content: space-evenly;
  }
  &--align-start {
    align-items: flex-start;
  }
  &--align-end {
    align-items: flex-end;
  }
  &--align-center {
    align-items: center;
  }
  // Container padding
  &--padding-normal {
    padding: var(--base-spacing);
  }
}