body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: $font-body;
  font-size: 12px;
  line-height: 1.2;
  color: var(--color-text);
  background-color: var(--color-surface-1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.is-blocked,
  &.is-modal-open,
  &.is-gradpanel-open {
    overflow: hidden;
  }
}
