/* ==========================================================================
   #TEXT-UTILITIES
   ========================================================================== */

.u-text-upper {
  text-transform: uppercase !important;
}

.u-text-right {
  text-align: right !important;
}

.u-text-strong {
  font-weight: var(--font-bold) !important;
}

