# Created by .ignore support plugin (hsz.mobi)
docs/guides
classes
*.patch
dependency-reduced-pom.xml
derby*
.gradle
gradle.properties
build/
*~
\#*
target
out
.project
.classpath
.settings
.externalToolBuilders/
.scala_dependencies
.factorypath
.cache
.cache-main
.cache-tests
*.iws
*.ipr
*.iml
.idea
*.env
.DS_Store
.shell_history
.mailmap
.java-version
.cache-main
.cache-tests
Thumbs.db
bin
data
node_modules
content/node_modules
gen
deploy
debug.last-raw.json
debug.last-transformed.json
dist
public/*
